body {
    background-color: aqua;
    margin: 0%;
}
h2 {
    color: blue;
    background-color: blueviolet;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 12px;
    border: 3px solid red;
    border-radius: 25px;
    text-align: center;

}
img {
    border: 4px solid red;
    max-width: 400px;
    height: 400px;
}
div {
    height: 500px;
    max-width: 500px;
    background-color: aqua;
    border: 6px solid rgb(197, 230, 15);
    border-radius: 15px;
    box-shadow: -7px -7px 7px red,
                7px 7px 7px rgb(170, 7, 35);
    margin: 10px;

    padding-top: 30px;
    padding-left: 25px;
    
}
p {
    color: blue;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}